{% extends "base_generic.html" %}

{% block content %}
  {% if with_books %}
  <h1>Authors with at least one Book</h1>
  <ul>
    {% for author in with_books %}
    <li><a href="#">{{ author }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if without_books %}
  <h1>Authors without any Books</h1>
  <ul>
    {% for author in without_books %}
    <li><a href="#">{{ author }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <button class="btn btn-success" onclick="window.location.href='/authors/new'">Add New Author</button>
  {% endblock %}
